#form-name {
  min-width: 500px;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  .person-table {
    .ant-col {
      max-width: 100%;
    }
    .ant-form-item {
      margin-bottom: 0;
    }
  }
}
.btns {
  border-top: 1px solid #f0f0f0;
  padding-top: 10px;
  width: 100%;
  text-align: center;
}
